<div class="container">
    <div class="col-md-6">
        <h4 class="footer-title">Links</h4>
        <span class="diamond-icon"><img src="{{ asset('bundles/app/img/diamond.png') }}"></span>
        <hr>
        <ul>
            {% if(app.user) %}
                <li><a href="{{path('logout')}}" >logout</a></li>
            {% else %}
                <li><a href="{{path('login')}}" >Login</a></li>
            {% endif %}
            <li><a href="/impressum" >Impressum</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4 class="footer-title">Externe Links</h4>
        <span class="diamond-icon"><img src="{{ asset('bundles/app/img/diamond.png') }}"></span>
        <hr>
        <ul>
            <li><a href="http://leader.ir/" target="_blank">Leader.ir</a></li>
            <li><a href="http://www.irna.ir/" target="_blank">IRNA</a></li>
            <li><a href="http://miu.ac.ir/" target="_blank">AL-Mustafa</a></li>
        </ul>
    </div>
</div>
<!-- <div class="footer-down"></div> -->
<div class="modal"></div>
