<div class="container">
    <div class="col-md-6">
        <h4 class="footer-title">Links</h4>
        <span class="diamond-icon"><img src="{{ asset('bundles/app/img/diamond.png') }}"></span>
        <hr>
        <ul>
            {% if(app.user) %}
                <li><a href="{{path('logout')}}" >logout</a></li>
            {% else %}
                <li><a href="{{path('login')}}" >Login</a></li>
            {% endif %}
            <li><a href="/impressum" >Impressum</a></li>
            <li><a href="/kontakt">Kontakt</a></li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4 class="footer-title">Externe Links</h4>
        <span class="diamond-icon"><img src="{{ asset('bundles/app/img/diamond.png') }}"></span>
        <hr>
        <ul>
            <li><a href="http://leader.ir/" target="_blank">Leader.ir</a></li>
            <li><a href="http://www.irna.ir/" target="_blank">IRNA</a></li>
            <li><a href="http://miu.ac.ir/" target="_blank">AL-Mustafa</a></li>
        </ul>
    </div>
</div>
<div class="modal"></div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89995814-1', 'auto');
  ga('send', 'pageview');

</script>