{% extends 'AppBundle::pagelayout.html.twig' %}

{% block content %}
    <h1>Online Bewerbung</h1>
    <div></div>
    {% if (alreadyApplied) %}
        <span>You have Already Applied to study on {{alreadyApplied|date('m.d.Y H:i:s')}}</span>
    {% else %}
        {% if notLoggedIn %}
            <div>Please <a href="{{path('login')}}">login</a> here to be able to register for this Trip.</div>
        {% else %}
            {% include("AppBundle:full:application_form.html.twig") %}
        {% endif %}
    {% endif %}
{% endblock %}