{% extends 'AppBundle::pagelayout.html.twig' %}

{% block content %}
    <h1>Application</h1>
    <div>Application Description</div>
    {% if (alreadyApplied) %}
        <span>You have Already Applied for this Trip on {{alreadyApplied|date('m.d.Y H:i:s')}}</span>
    {% else %}
        {% if notLoggedIn %}
            <div>Please <a href="{{path('login')}}">login</a> here to be able to register for this Trip.</div>
        {% else %}
            {% include("AppBundle:full:application_form.html.twig") %}
        {% endif %}
    {% endif %}
{% endblock %}