{% extends 'AppBundle::pagelayout.html.twig' %}

{% block content %}
    <div class="blog">
        <!-- <div class="blog-top-banner">
            <div class="container">
                Developer<span>Blog</span>
            </div>
        </div> -->
        <div class="container">
        {% for blog in pagerBlogs %}
            {{render_esi(controller('ez_content:viewLocation',{'locationId':blog.contentInfo.mainLocationId,'viewType':'line'}) )}}
        {% endfor %}
            <div class="row">
                <div class="container center">
                    {% if pagerBlogs.haveToPaginate() %}
                        {{ pagerfanta( pagerBlogs, 'twitter_bootstrap3_translated', {'routeName': location} ) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}