@font-face {
    font-family: Habibi;
    src: url("../fonts/Habibi-Regular.ttf");
}
body {
    font-family: Habibi;
}
.content {
    margin-top: 5%;
}
.footer {
    bottom: 0;
    width: 100%;
    background-color: #F0F0F2;
}
.footer-down {
    height: 14px;
    background: url("../img/pent-up.png"); 
}
.header-top {
    height: 14px;
    background: url(../img/pent-down.png);
    background-repeat: repeat-x;
}

.navbar-fixed-top { 
    position: relative!important; 
}
.logo {
    width: 27%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5%;
    margin-left: -12%;
    background-color: white;
    z-index: 2;
}
.title-homepage {
    width: 23px;
}
.title-homepage img {
    width: 15px;
}
.header-container {
    height: 125px;
    position: relative;
    margin-bottom: 25px;
}
.links-header {
    position: absolute;
    top: 25%;
    right: 0%;
    padding-left: 30px;
}
.name-header {
    position: absolute;
    top: 25%;
    left: 0%;
    padding-left: 30px;
}
.links-header a {
    color: gray;
    font-size: 12px;
}
.navbar-inverse {
    background-color: transparent;
    border: none;
}
.footer {
    border-top: #BAC005 2px solid;
    margin-top: 20px;
}

.footer h4 {
    margin:20px 0px -5px 20px;
}
.footer hr {
    border-top: solid 2px #b7965d;
    display: inline-block;
    width: 150px;
    margin: 0 0 3px -5px;
}
.footer a {
    color: #919191;
}
.footer ul {
    list-style-type: none;
    padding-left: 25px;
}
.footer li {
    padding: 3px 0px;
}
.carousel-container {
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 10px 0px;
}
.homepage-bottom {
    padding: 50px 0px;
}
.homepage-bottom-left div{
    padding-left: 0px;
    padding-right: 0px;
}
.homepage-bottom-left h2 {
    color: #b7965d;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 8px 0px;
    margin-top: 0px;
}
.homepage-bottom-left img {
    float: left;
    margin-right: 10px;
}
.homepage-bottom-left h4 {
    color: #BAC005;
}
.homepage-blog-item {
    margin: 20px 0px;
}
.header-bottom {
    background: url(../img/diamond.png) repeat-x;
    height: 20px;
    position: absolute;
    bottom: -9px;
}
.diamond-icon {
    width: 15px;
    display: inline-block;
}
.homepage-blog-item p, .homepage-bottom-right p {
    text-align: justify;
}
.blog-post-line {
    margin-top: 40px;
}
.blog-post-line a{
    color: #BAC005; 
}
.blog-post-line img {
    float: left;
    margin-right: 10px;
}
.center {
    text-align: center;
}
.event-text {
    border-bottom: #BAC005 2px solid;
    padding-bottom: 25px;
}
.blog-post-line-intro {
    text-align: justify;
}
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
        url('../img/loader.gif') 
        50% 50% 
        no-repeat;
}
body.loading {
    overflow: hidden;   
}
body.loading .modal {
    display: block;
}

#diamond {
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: #b7965d;
    position: relative;
    top: -7px;
    display: inline-block;
}
#diamond:after {
    content: '';
    position: absolute;
    left: -7px;
    top: 7px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #b7965d;
}
#diamond-light {
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-color: #BAC005;
    position: relative;
    top: -7px;
    display: inline-block;
}
#diamond-light:after {
    content: '';
    position: absolute;
    left: -7px;
    top: 7px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #BAC005;
}
.homepage-bottom-left #diamond {
    margin-right: 15px;
}
.blog-post-line-border #diamond-light {
    margin-right: 15px;
}

#base {
    background: #BAC005;
    display: inline-block;
    height: 55px;
    margin-left: 20px;
    margin-top: 55px;
    position: relative;
    width: 100px;
}
#base:before {
    border-bottom: 35px solid #BAC005;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    top: -35px;
    width: 0;
}
.attendence_form label:after {
    content:" *";
}
.header-bottom-border {
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: #b7965d;    
    /* background-image: url(../img/diamond.png); */
}
.home-seprator {
    width: 9px;
    background-image: url(../img/diamond.png);
    height: 109px;
    float: left;
    margin-left: -50px;
}
@media (min-width: 768px) {
    .navbar-inverse .navbar-nav>li>a {
        float: left;
    }
    ul.navbar-nav>li:after{
        content: '|';
        float: right;
        font-size: 24px;
        padding-top: 6px;
    }
    ul.navbar-nav>li:last-of-type:after{
        content: ' ';
    }
    .navbar.navbar-inverse.navbar-fixed-top {
        margin-bottom: 0px;
    }
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
    .navbar-inverse .navbar-nav>li>a {
        color: gray;
        font-size: 18px;
    }
    .dropdown-menu:before {
        position: absolute;
        top: -11px;
        left: 50%;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
    }

    .dropdown-menu:after {
        position: absolute;
        top: -10px;
        left: 50%;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #BAC005;
        border-left: 6px solid transparent;
        content: '';
    }
    .dropdown-menu>li>a {
        color: white;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #333; 
    }
    .navbar-inverse .navbar-toggle:hover .icon-bar {
        background-color: #fff; 
    }
    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
        color: #BAC005;
        background-color: transparent;
    }
    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
        color: #BAC005;
    }
    .navbar .nav li.dropdown .dropdown-menu {
        background: #BAC005;
    }
    .navbar .nav ul {
        left: 0;    
        width: 220px;
        margin-left: -50px;
        border-top: solid 4px #BAC005;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .blog-post-line-border {
        min-height: 250px;
    }
}
@media (max-width: 767px){
    .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover , .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus , .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
        color: #fff;
        background-color: #BAC005;
    }
    .navbar-inverse .navbar-nav>li>a {
        color: gray;
    }
    .menu {
        margin-bottom: 70px;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #fff;
        text-decoration: none;
        background-color: #BAC005;
    }
    .header-bottom,.header-bottom-border {
        display:none;
    }
    .homepage-bottom-right {
        padding-top: 60px;
    }

    .logo{
        width: 50%!important;
        position: absolute;
        top: 30%;
        left: 35%;
        margin-left: -12%!important;
    }
    .menu {
        margin: 6% 0px;
    }
    #diamond , #diamond-light {
        display: none;
    }
}
@media (max-width:1198px){
    .logo {
        margin-left: -14%;
        width: 30%;
    }
}
@media (max-width:990px){
    .logo {
        margin-left: -16%;
        width: 35%;
    }
}